.services-page-header {
    margin-top:1rem;
    margin-bottom:2rem;
}
.services-page-container {
    margin-bottom:6rem;
    padding-top:7rem;
}

.service-page-container {
    height:auto;
    padding: 3rem 5rem;
}
.service-page-div {
    display: flex;
    margin-bottom:5rem;

}
.service-page-img-div, .service-page-img-div-2 {
    width:40%;
    overflow: hidden;

}

.service-page-img-div {
    margin-right:3rem;
}

.service-page-img-div-2 {
    margin-left:3rem;
}

.service-page-content {
    width:60%;
    overflow: hidden;
    line-height: 6vh;

}
.service-page-img {
    width:100%;
    border-radius:20px;
}

.service-page-title {
    text-align: center;
    font-size:3rem;
    margin-bottom:4rem;
}

.service-page-description {
    font-size:1rem;
    line-height: 6vh;
}

.services-page-subheader {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom:4rem;
    text-align: center;
    padding:0rem 4rem;

    color:rgb(255, 255, 255);
}

.service-page-headers {
    padding:2rem 0rem 8rem 0rem;
    text-align: center;
    position: relative;
}

.structural-div {
    margin-bottom:2rem;
}

.included-desc-img {
    width:25%;
    margin-right:2rem;
}

.included-item-header {
    margin-bottom:2rem;
}

.included-desc-div {
    display: flex;
}

.included-div {
    margin-bottom:4rem;
    padding:0rem 6rem;
}
.included-tabs {
    list-style-type: disc;
}

.tabs-div {
    text-align: left;
    font-size: 1.2rem;
}
.headers-logo {
    width:13%;
    margin: 0rem 3rem;
}

.included-desc {
    font-size:1.2rem;
    font-weight:500;
}

.color-change {
    color: rgb(186, 166, 97);
}
.included-header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom:3rem;
}

.services-grid-header {
    margin-bottom:4rem;
    text-align: center;
    font-size:2.5rem;
}

.included-icon {
    color:rgb(186, 166, 97);
    font-size:2rem !important;
}

.cert-logo {

    width:7%;
  text-align: left !important;
  margin:0rem 1rem;
  margin-bottom:2rem;
}

.services-page-btn {
    background-color: rgb(186, 166, 97);
    border:none;
    padding:0.8rem 1.7rem;
    color:white;
    border-radius:35px;
    margin:0rem 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    transition:0.2s all ease;
    box-shadow:1px 3px 20px rgb(0, 0, 0);
    cursor:pointer;
}

.services-page-btn:hover {
    transform: translateY(-1px);
}

.color-less {
    color:rgb(136, 136, 136);
}

.arrow
{
  position: absolute;
  /* bottom: -2rem; */
  left: 50%;
  bottom:0;

  /* margin-left:-20px; */
  width: 40px;
  height: 40px;

  /**
   * Dark Arrow Down
   */
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce-arrow-icon {
    font-size: 4rem;
}

@media (max-width: 900px) {
    .included-div {
        height:auto;
        padding: 0rem 1rem !important;
    }
}

@media (max-width: 800px) {
    .included-desc-div {
        display: block;
        text-align: center;
      
    }
    .included-desc-img {
        width:80%;
        margin-right:0rem;
        margin-bottom:3.5rem;
    }

    .included-desc {
        text-align: left !important;
    }

    .services-page-subheader {
        font-size: 1.2rem;
        padding:0;
        margin-bottom:2rem;
 
    }

    .cert-logo {

        width:12%;
      text-align: left !important;
      margin:0rem 1rem;
      margin-bottom:2rem;
    }

    .headers-logo {
        width:20%;
        margin:0 !important;
    }

    .services-container {
        padding:0rem 1rem;
    }

    .services-page-subheader {
        display: none;
    }

    .services-page-header {
        line-height: 7vh;
    }
}

@media (max-width: 900px) {
    .headers-logo {
        width:20%;
        margin:0 !important;
    }
    .cert-logo {
        width:18%;
    }

    .included-div {
        padding:0rem !important;
    }
}

@media (max-width: 500px) {
    .services-page-header {
        font-size: 2.5rem;
        line-height: 5vh;
        margin-bottom:6rem;
    }
    .service-page-headers {
        padding-top:0;
    }
    .services-page-btn {
        margin-bottom:4rem;
    }
    .arrow {
        left:40%;
        bottom:70px;
    }
}